export ENVIRONMENT="development"
export WEBEX_TEAMS_ACCESS_TOKEN="MGp5AGR4Z2ZgAzIxLl00LwuyYJSyAmDgMQZmLGN0LwNjZJRmMJAvMGMyNeMJefF_CS84_16917798-5582-49n7-92q0-4410s6964666"
export SECRET="YOUR_SECRET"